<header class="row mt-3" id="main__header">
  <section class="col-md-6">
    <h1 class="h3">chapters</h1>
  </section>
  <section class="col-md-6 d-flex justify-content-end">
    <a href="/chapters/{{chapter._id}}" class="btn btn-outline-dark" title="add project">back to chapter</a>
  </section>
</header>

<section class="row mt-5" id="main_content">
  <div class="col-md-6 offset-md-3">
    <form 
      method="PUT",
      action="/api/figures/{{figure._id}}"
      enctype="multipart/form-data"
      target="/figures/{{figure._id}}"
      class="card border-dark mb-3" 
      id="form_update_chapter"
      >
      <header class="card-header bg-transparent border-dark">
        <legend class="text-right">update {{figure.number_ch}}.{{figure.number}}</legend>
        <div class="alert alert-danger text-center fixed-top" role="alert" data-message="container">
          <p data-message="text"></p>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </header>
      <main class="card-body text-dark">
        <div class="mb-3">
          <label for="number_ch" class="form-label">ch number_ch</label>
          <input type="number_ch" class="form-control" name="number_ch" id="number_ch" value="{{figure.number_ch}}">
        </div>
        <div class="mb-3">
          <label for="number" class="form-label">figure number</label>
          <input type="number" class="form-control" name="number" id="number" value="{{figure.number}}">
        </div>
        <div class="mb-3">
          <label for="title" class="form-label">title</label>
          <input type="text" class="form-control" name="title" id="title" value="{{figure.title}}">
        </div>                         
        <div class="mb-3">
          <label for="caption" class="form-label">caption</label>
          <input type="text" class="form-control" name="caption" id="caption" value="{{figure.caption}}">
        </div>
        <div class="mb-3">
          <label for="new_image" class="form-label">add image file</label>
          <input class="form-control" type="file" id="new_image" name="new_image">
        </div> 
      </main>
      <footer class="card-footer bg-transparent border-dark text-right">
        <button type="submit" class="btn btn-dark">submit</button>
      </footer>
    </form>
  </div>
</section>