<header class="row mt-3" id="main__header">
  <section class="col-md-6">
    <h1 class="h3">chapters</h1>
  </section>
  <section class="col-md-6 d-flex justify-content-end">
    <a href="/chapters/{{chapter._id}}" class="btn btn-outline-dark" title="add project">back to chapter</a>
  </section>
</header>

<section class="row mt-5" id="main_content">
  <header class="card-header row bg-dark text-white">
    <div class="col-md-6">
      <h2 class="h3">add figure</h2>
    </div>
    <div class="col-md-6 text-end">back to chapter</div>
  </header>
  <main class="card-body row">
    <fieldset class="col-md-12 d-flex justify-content-center align-items-end mb-4">
      <legend class="legend_number text-end">figure number</legend>
      <input type="number" class="form-control" name="number_ch" id="number_ch" value="{{figure.number_ch}}">
      <span class="dot">.</span>
      <input type="number" class="form-control" name="number" id="number" value="{{figure.number}}">
    </fieldset>

    <div class="col-md-6 mb-3">
      <label for="source" class="form-label">source</label>
      <input type="text" class="form-control" name="source" id="source" value="{{figure.source}}">
    </div>
    <div class="col-md-6 mb-3">
      <label for="credit" class="form-label">credit</label>
      <input type="text" class="form-control" name="credit" id="credit" value="{{figure.credit}}">
    </div>
    <div class="col-md-12 mb-3">
      <label for="title" class="form-label">title</label>
      <input type="text" class="form-control" name="title" id="title" value="{{figure.title}}">
    </div>
    <div class="col-md-6 mb-3">
      <label for="caption" class="form-label">caption</label>
      <textarea type="text" class="form-control" name="caption" id="caption" value="{{figure.caption}}"></textarea>
    </div>
    <div class="col-md-6 mb-3">
      <label for="alt" class="form-label">alt text</label>
      <textarea type="text" class="form-control" name="alt" id="alt" value="{{figure.alt}}"></textarea>
    </div>
    <div class="col-md-6 mb-3">
      <label for="notes" class="form-label">notes</label>
      <textarea type="text" class="form-control" name="notes" id="notes" value="{{figure.notes}}"></textarea>
    </div>
    <div class="col-md-6 mb-3">
      <label for="new_image" class="form-label">add image file</label>
      <input class="form-control" type="file" id="new_image" name="new_image">
    </div>
  </main>
  <footer class="card-footer row bg-dark">
    <button type="submit" class="btn btn-outline-light mt-2 mb-2">submit</button>
  </footer>
</section>