<section class="row mt-5" id="main_content">
  <div class="col-md-12">
    <div class="card mb-3">
      <div class="card-header d-flex justify-content-between">
        <h2 class="h4"><span class="badge bg-dark">{{project.code}}</span></h2>
        <a href="/projects/update/{{project._id}}" class="btn btn-primary text-white">update</a>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{project.title}} {{#if project.edition}}{{project.edition}}e{{/if}}</h5>
        <p class="card-text">{{project.desc}}</p>

      </div>
      <div class="card-footer text-muted">
        <a href="/projects/{{project._id}}/milestones" class="card-link">milestones</a>
        <a href="/projects/{{project._id}}/tasks" class="card-link">tasks</a>
        <a href="/projects/{{project._id}}/chapters" class="card-link">chapters</a>
        <a href="/projects/{{project._id}}/photos" class="card-link">photos</a>
        <a href="/projects/{{project._id}}/figures" class="card-link">figures</a>
        <a href="/projects/{{project._id}}/features" class="card-link">features</a>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <h2 class="h4 text-center mt-2">milestones</h2>
    <table class="table mt-2">
      <thead>
        <th scope="th">date</th>
        <th scope="th">title</th>
        <th scope="th">notes</th>
        <th scope="th">status</th>
      </thead>
      <tbody>
        {{#each project.milestones}}
        <tr>
          <td>{{formatDate this.date 'MM-DD-YY'}}</td>
          <td>{{this.title}}</td>
          <td>{{this.notes}}</td>
          <td>{{this.status}}</td>
        </tr>

        {{/each}}
      </tbody>
    </table>
  </div>
</section>