<header class="row mt-3" id="main__header">
  <section class="col-md-6">
    <h1 class="h3">{{title}}</h1></section>
  <section class="col-md-6 d-flex justify-content-end ">
    <a href="/projects/add" class="btn btn-outline-dark" title="add project">new project +</a>
  </section>
</header>

<section class="row mt-3" id="main_content">
  <div class="col-md-12">
      {{#each projects}}

        <div class="card mb-3">
          <div class="card-header d-flex justify-content-between">
            <h2 class="h4"><span class="badge bg-secondary">{{this.code}}</span></h2>
            <a href="/projects/{{this._id}}" class="btn btn-primary text-white">review project</a>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">{{this.desc}}</p>
            
          </div>
          <div class="card-footer text-muted">
            <a href="#" class="card-link">chapters</a>
            <a href="#" class="card-link">photos</a>
            <a href="#" class="card-link">figures</a>
            <a href="#" class="card-link">features</a>
            <button type="button" class="btn btn-link card-link" data-delete="projects" data-target="{{this._id}}">delete</button>
          </div>
        </div>        

      {{/each}}    
  </div>
</section>




