<header class="row mt-3" id="main__header">
  <section class="col-md-6">
    <a href="/projects/add" class="btn btn-dark btn-sm" title="add project">new project +</a>
  </section>
  <section class="col-md-6 d-flex justify-content-end ">
    <h1 class="h5">{{title}}</h1>
  </section>
</header>
<button type="submit" formmethod="DELETE" class="btn btn-primary">delete</button>
<button type="submit" formmethod="POST" class="btn btn-primary">post</button>
<button type="submit" formmethod="PUT" class="btn btn-primary">put</button>
<button type="submit" formmethod="GET" class="btn btn-primary">get</button>
<button type="submit" class="btn btn-primary">get</button>

<section class="row mt-3" id="main_content">

  {{#each projects}}
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-header d-flex justify-content-between">
        <h2 class="h5"><span class="badge bg-dark">{{this.code}}</span></h2>
      </div>
      <div class="card-body row">
        <div class="col-md-5">
          <h5 class="card-title"></h5>
          <p class="card-text">{{this.title}} {{#if this.edition}}{{this.edition}}e{{/if}}</p>
        </div>
        <div class="col-md-7">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              chapters
              <span class="badge bg-light rounded-pill">
                <a href="/projects/{{this._id}}/chapters/add"><i class="fas fa-plus"></i></a>
              </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              photos
              <span class="badge bg-light rounded-pill">
                <a href="/projects/{{this._id}}/photos/add"><i class="fas fa-plus"></i></a>
              </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              figures
              <span class="badge bg-light rounded-pill">
                <a href="/projects/{{this._id}}/figures/add"><i class="fas fa-plus"></i></a>
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-footer text-muted">
        <a href="/projects/{{this._id}}" class="btn btn-link card-link" data-delete="projects"
          data-target="{{this._id}}">
          <i class="far fa-eye"></i>
        </a>
        <button type="button" class="btn btn-link card-link" data-bs-toggle="modal" data-bs-target="#delete_project" data-bs-action="/api/projects/{{this._id}}" data-bs-title="{{this.title}}">
          <i class="fas fa-trash-alt"></i>
        </button>
      </div>
    </div>
  </div>
  {{/each}}

</section>

<!-- Delete Project Modal -->
<div class="modal fade modal--delete" id="delete_project" tabindex="-1" aria-labelledby="delete_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete_label">Delete project</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">no</button>
        <form           
          method="DELETE"
          enctype="application/json"
          target="/projects"
        >
          <button type="submit" formmethod="DELETE" class="btn btn-primary">yes, delete</button>
        </form>
      </div>
    </div>
  </div>
</div>